@font-face{
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-family: 'MB';
}

@font-face{
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-family: 'MR';
}

@font-face{
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-family: 'MSB';
}

@font-face{
  src: url('../assets/fonts/OpenSans-Bold.ttf');
  font-family: 'OB';
}

@font-face{
  src: url('../assets/fonts/OpenSans-Regular.ttf');
  font-family: 'OR';
}

@font-face{
  src: url('../assets/fonts/OpenSans-SemiBold.ttf');
  font-family: 'OSB';
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #1E1F22;
  color:#E9E5D7;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width:450px) {
  body{
      background-color: #E9E5D7;
      color:#1E1F22;
  }
}

